
/* Header */

#headText {
    font-family: calibri;
    color: #212529;
}

#wdtLogo {
    width: 20%; 
    float: left;
}

#text {
    font-family: calibri;
    color: #212529;
}


/* Tables */  
table{
    border-radius: round;
}

thead, th {
    border: thin solid #212529;
    font-family: consolas; 
    color: #fff; 
    background-color: #0E8EA8;
    text-align: center;
}

tr {
    border: thin solid #212529;
    
}

#tBodyStaff {
    border: thin solid #212529;
    font-family: calibri; 
    color:  #212529; 
    background-color: #83D1E1;
    text-align: center;
    cursor: pointer;
}

#tBodySchedule, #tBodyBoard, td {
    border: thin solid #212529; 
    font-family: calibri;
    background-color: #83D1E1;
    color: #212529; 
    text-align: center;
}

#tBodyStaff tr:hover {
    background-color: #0E8EA8;
    color: #fff;
}

#tBodyBoard tr:hover, .selected {
    background-color: #0E8EA8;
    color: #fff;
    cursor: pointer;
}

/* Buttons */
#inBtn, #addBtn {
    font-family: consolas;
    background-color: #198754;
    color: #fff;
}

#outBtn, #clearBtn {
    font-family: consolas;
    background-color: #dc3545;
    color: #fff;
}

#outBtn {
    float: left;
}

#inBtn, #addBtn, #clearBtn {
    float: right;
}


/* Input */
input {
    outline: 0;
    border-width: 0 0 2px;
    border-color: #212529;
    background-color: #83D1E1;
}

/* Navbar */
#navBar {
    font-family: consolas;
    background-color: #0E8EA8;
}

#navBarMenu {
    background-color: #0E8EA8;
    color: #fff
}

#navBarDropDown {
    background-color: #83D1E1;
    color: #212529;
}