/* Header */
.header {
    display: inline-block;
}

#headText {
    font-family: calibri;
    color: #212529;
    width: 100%;
    position: absolute;
    text-align: center;
}

#wdtLogo {
    position: relative;
    width: 250px;
    float: left;
}

#text {
    display: inline-block;
    font-family: calibri;
    color: #212529;
    bottom: auto;
    width: 100%;
}


/* Tables */
.bdr{
    border-radius: 10px;
    overflow: hidden;
}

thead, th {
    border: thin solid #212529;
    font-family: consolas;
    color: #fff;
    background-color: #0E8EA8;
    text-align: center;
}

tr {
    border: thin solid #212529;
    text-align: center;

}

#tBodyStaff {
    border: thin solid #212529;
    font-family: calibri;
    color:  #212529;
    background-color: #83D1E1;
    text-align: center;
    cursor: pointer;
}

#tBodySchedule, #tBodyBoard, td {
    border: thin solid #212529;
    font-family: calibri;
    background-color: #83D1E1;
    color: #212529;
    text-align: center;
}

#tBodyStaff tr:hover {
    background-color: #0E8EA8;
    color: #fff;
}

#tBodyBoard tr:hover, .selected {
    background-color: #0E8EA8;
    color: #fff;
    cursor: pointer;
}

/* Buttons */
.btn-green  {
    font-family: consolas;
    background-color: #198754;
    color: #fff;
}

.btn-warn {
    font-family: consolas;
    background-color: #dc3545;
    color: #fff;
}

#outBtn {
    float: left;
}

#inBtn, #addBtn, #clearBtn {
    float: right;
}


/* Input */
input {
    outline: 0;
    border-width: 0 0 2px;
    border-color: #212529;
    background-color: #83D1E1;
    text-align: center;
    width: 100%;
}

/* Navbar */
#navBar {
    font-family: consolas;
    background-color: #0E8EA8;
}

#navBarMenu {
    background-color: #0E8EA8;
    color: #fff
}

#navBarDropDown {
    background-color: #83D1E1;
    color: #212529;
}