
/* Header */
#logoText {
    display: inline-block;
}

#headText {
    font-family: calibri;
    color: #212529;
}

#wdtLogo {
    width: 20%; 
    float: left;
}


/* Tables */
td {
    border: thin solid #212529; 
    padding: 5px; 
    cursor: pointer;
}   

th {
    border: thin solid #212529;
    font-family: consolas; 
    color: #fff; 
    background-color: #0E8EA8;
}

tr {
    border: thin solid #212529
}

tr:hover {
    background-color: #0E8EA8;
    color: #fff;
}

#tData {
    border: thin solid #212529;
    font-family: calibri; 
    color:  #212529; 
    background-color: #83D1E1;
    text-align: center;
}

thead {
    text-align: center;
    border: thin solid #212529;
}


/* Buttons */
#positiveButton {
    font-family: consolas;
    background-color: #198754;
    color: #fff;
}

#negativeButton {
    font-family: consolas;
    background-color: #dc3545;
    color: #fff;
}

#text {
    font-family: calibri;
    color: #212529;
}

.selected {
    background-color: #0E8EA8;
    color: #fff;
}